<div class="template">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{title}} <small>Configurations</small></h1>
      <ol class="breadcrumb">
        <li (click)="gotopage('configuration/skillset')" class="active"><i class="fa fa-sitemap"></i> Skill Set</li>
        <li (click)="gotopage('configuration/status')" class="active"><i class="fa fa-dashboard"></i> Status</li>
        <li (click)="gotopage('')" class="active"><i class="fa fa-dashboard"></i> Reporting</li>
        <li (click)="gotopage('')" class="active"><i class="fa fa-usd"></i> CTC details</li>
        <li (click)="gotopage('')" class="active"><i class="fa fa-dashboard"></i> Risk Status</li>
      </ol>

    </div>
  </div>
</div>